{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

{%for error in errors%}
<p>{{error}}</p>
{%endfor %}

<div class="container">

  <form action="/submit" method="post">
    <div class="form-group">
      <label for="puppy-name">{{columnHeader1}}</label>
      <input type="text" name="firstName" class="form-control" id="firstName" placeholder="name..">
    </div>
    <div class="form-group">
      <label for="ID">{{columnHeader2}}</label>
      <input type="ID" name="hobby"class="form-control" id="hobby" placeholder="Hobby..">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}
